body {
    font-family: 'Ibarra Real Nova', serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.red-color {
    color: rgb(27, 26, 26);

}

.flexible-container {
    display: flex;
    margin-top: 180px;
}

.half-width {
    width: 45%;
    padding-left: 10%;
}

.half-width img {
    width: 80%;
}

.button {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.top-banner {
    background-image: url(images/top-banner.png);
    margin: 0;
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    box-shadow: 15px 15px 10px gray;
    border-radius: 15px;
    border: blue;

}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    border-left: orange;

}

#stack {
    border-left: 7px solid tomato;
}

#baby {
    border-left: 7px solid blue;
}

footer {
    text-align: center;
    color: white;
    margin-top: 150px;
    margin-bottom: 3px;
    border-color: rgb(3, 3, 3) solid;
    border-radius: 3px;
    background-color: rgb(95, 8, 8);
    background-size: 40px;
    font-weight: 600;
}